* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book {
    max-width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
}
.book-info{
    flex: 1;
}

.book-image {
  margin-right: 10px;
}

.book-image img {
  display: block;
  max-width: 100px;
  height: auto;
}

.author {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

button {
  font-size: 10px;
  margin-top: 10px;
  font-weight: 700;
  background: orange;
  border: 1px solid orangered;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
